.dialog {
    display: flex;
    flex-direction: row;
    height: 70vh;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.dialog-content {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;
}
li {
    list-style-type: none
}

.message{
    background: lightgreen;
    border-radius: 7px;
    padding: 6px;
    margin: 10px;
}

.input {
    margin-left: 40%;
}

.output {
    margin-right: 40%;
}