.wrap_scroll_bottom {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}
.container_scroll_bottom {
    padding: 0 10px;
    max-height: 100%;
    overflow-y: auto;
}

.message{
    background: lightgreen;
    border-radius: 7px;
    padding: 6px;
    margin: 10px;
}
.message:hover{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.output {
    margin-left: 70%;
    background: lightgreen;
}

.input {
    margin-right: 70%;
    background: lightblue;
}
