.input_message_wrapper{
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.input_message{
    margin-right: 15px;
    width: 96%;
}

.input_{
    height: 90px;
    resize: none;
}

.send_btn {
    margin-left: 5px;
    height: 90px;
}